<form class="" action="/upload/public" method="post" enctype="multipart/form-data">
  <div class="alert alert-info">
    <p><i class="fas fa-info-circle"></i> Uploads here can be viewed by everyone</p>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image Name</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="What you would remember this image as">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <select class="form-select" name="description1" aria-label="Default select example">
          <option selected>Select a field</option>
          <option value="1" name="one">One</option>
          <option value="2" name="two">Two</option>
          <option value="3" name="three">Three</option>
        </select>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <select class="form-select" name="description2" aria-label="Default select example">
          <option selected>Select another field for more description</option>
          <option value="1" name="one">One</option>
          <option value="2" name="two">Two</option>
          <option value="3" name="three">Three</option>
        </select>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Upload your Images</label>
    <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
    {{#if hasSuccess}}
    <div class="submit alert alert-success" role="alert">
      {{# each messageSuccess}}
        <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    {{#if hasError}}
    <div class="submit alert alert-danger" role="alert">
      {{# each messageFailure}}
        <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
  </div>
  <div class="image-preview">
  </div>
  <button type="submit" class="submit btn btn-success">Upload</button>
</form>
