<form class="" action="/upload/public" method="post" enctype="multipart/form-data">
  <div class="alert alert-info">
    <p><i class="fas fa-info-circle"></i> Uploads here can be viewed by everyone</p>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image Name</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="What you would remember this image as">
  </div>
  
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Upload your Images</label>
    <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
    {{#if hasSuccess}}
    <div class="submit alert alert-success" role="alert">
      {{# each messageSuccess}}
        <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    {{#if hasError}}
    <div class="submit alert alert-danger" role="alert">
      {{# each messageFailure}}
        <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
  </div>
  <div class="image-preview">
  </div>
  <button type="submit" class="submit btn btn-success">Upload</button>
</form>
